{% extends 'base.html' %} {% load static %} {% block title %}
<title>Add New Product</title>
{% endblock title %} {% block files %} {% endblock files %} {% block content %}

<header class="header custom-color">
  <div class="toggle-area">
    <i class="fa fa-bars menu" aria-hidden="true"></i>
    <!-- ////////////////////////////////// -->
    <a href="" class="navbar-brand text-dark">beFrosh</a>
  </div>

  <div class="">
    <a href="" class="btn btn-outline-light custom-nav-margin rounded-pill"
      ><span class="fa fa-user-circle mr-1"></span>Porfile
    </a>
  </div>
</header>

<div class="home">
  <div class="sidebar custom-color">
    <a href="" class="mt-3 text-white">Welcome Mr.Ahmad</a>
    <div class="justify-content-center">
      <ul class="list-unstyled">
        <li>
          <button href="" class="btn text-white mt-3 custom-button">
            Account Info
          </button>
        </li>
        <li>
          <button href="" class="btn text-white mt-3 custom-button">
            My Listings
          </button>
        </li>
        <li>
          <button href="" class="btn text-white mt-3 custom-button">
            Favorites
          </button>
        </li>
        <li>
          <button href="" class="btn text-white mt-3 custom-button">
            Notifications
          </button>
        </li>
      </ul>
    </div>
  </div>

  <main class="main">
    <!-- Form -->
    <div class="container">
      <div class="card card-size my-4 custom-login">
        <div class="card-body">
          <div class="m-4">
            <h3 class="ml-3 custom-link1">Add New Product</h3>
            <hr class="custom-color" />
            <div class="container">
              <div class="card custom-login text-center mr-5 ml-5">
                <i class="fas fa-image fa-9x m-0" draggable="true"></i>
                <a href="" class="custom-link1"
                  ><i class="fa fa-upload mr-2" aria-hidden="true"></i>Add
                  Image</a
                >
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-lg-9">
              <div class="form-group ml-5 mr-5">
                <form action="">
                  <input
                    class="form-control mb-4 rounded-pill text-center custom-input"
                    type="text"
                    placeholder="Product Title"
                  />
                  <input
                    class="form-control mb-4 rounded-pill text-center custom-input"
                    type="email"
                    placeholder="Price $"
                  />
                  <input
                    class="form-control mb-4 rounded-pill text-center custom-input"
                    type="text"
                    placeholder="Quantity"
                  />
                  <input
                    class="form-control mb-4 rounded-pill text-center custom-input"
                    type="text"
                    placeholder="Category"
                  />
                  <input
                    class="form-control mb-4 rounded-pill text-center custom-input"
                    type="text"
                    placeholder="Location"
                  />
                  <textarea
                    cols="400"
                    rows="6"
                    class="form-control mb-4 text- custom-input"
                    type="text"
                    placeholder="More Descritions"
                  ></textarea>

                  <div class="text-right">
                    <a
                      name=""
                      class="btn pl-4 pr-4 mt-4 text-truncate text-light rounded-pill custom-color custom-navbar-margin"
                      value=" "
                      id=""
                      >Add Product</a
                    >
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
<!-- footer -->
<footer class="mt-5">
  <div class="custom-color footer-h">
    <div class="container">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-6 mt-5 custom-link ml-5">
              <ul class="list-unstyled">
                <li class="pb-3">
                  <a href="#" class="text-white">House Hold</a>
                </li>
                <li class="pb-3">
                  <a href="#" class="text-white">Vehicles</a>
                </li>
                <li class="pb-3">
                  <a href="#" class="text-white">Electronics</a>
                </li>
                <li class="pb-3">
                  <a href="#" class="text-white">Cloths</a>
                </li>
                <li class="pb-3">
                  <a href="#" class="text-white">Tools</a>
                </li>
                <li class="pb-3">
                  <a href="#" class="text-white">Furnitures</a>
                </li>
                <li class="pb-3">
                  <a href="#" class="text-white">Fashion & Beauty</a>
                </li>
                <li class="pb-3">
                  <a href="#" class="text-white">Books</a>
                </li>
              </ul>
            </div>
            <div class="col-md-4 mt-5 custom-link ml-5">
              <ul class="list-unstyled">
                <li class="pb-3">
                  <a href="#" class="text-white">About us</a>
                </li>
                <li class="pb-3">
                  <a href="#" class="text-white">Contact us</a>
                </li>
                <li class="pb-3">
                  <a href="#" class="text-white">Terms and Conditions</a>
                </li>
                <li class="pb-3">
                  <a href="#" class="text-white">Policies</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div>
        <p class="text-white text-center footer-margin pb-2">
          <i class="fa fa-copyright mr-2" aria-hidden="true"></i>Copy right 2021
          -beFrosh
        </p>
      </div>
    </div>
  </div>
</footer>

{% endblock content %}
