{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exploring Page</title>

    <link rel="stylesheet" href="{% static 'mainApp/css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'mainApp/fontawesome-free-5.15.3-web/css/all.css' %}" />
    <link rel="stylesheet" href="{% static 'mainApp/style.css' %}" />

</head>
<body>
    <!-- LOGIN SECTION -->
    <div class="container ">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-10 col-md-9 ">
                <div class="card my-5 custom-login">
                    <div class="card-body p-5">
                        <div class="container ">
                            <h1 class="text-center mb-5 custom-link1"><i class="fa fa-user-circle fa-2x"
                                    aria-hidden="true"></i></h1>
                            <div class="form-group ">

                                <form action="">
                                    <input class="form-control mb-4  rounded-pill text-center custom-input" type="text"
                                        name="f_name" placeholder="First Name">
                                    <input class="form-control mb-4  rounded-pill text-center custom-input" type="text"
                                    name="l_name" placeholder="Last Name">
                                    <input class="form-control mb-4  rounded-pill text-center custom-input" type="email"
                                    name="email" placeholder="Email">
                                    <input class="form-control mb-4  rounded-pill text-center custom-input" type="text"
                                    name="username" placeholder="Username">
                                    <input class="form-control mb-4  rounded-pill text-center custom-input"
                                        type="password" name="password" placeholder="Password">
                                    <input class="form-control mb-4  rounded-pill text-center custom-input"
                                        type="password" name="r_password" placeholder="Repeat Password">


                                    <div class="row mt-5 justify-content-center">
                                        <div class="col-sm-5 col-md-4 col-lg-4 col m">
                                            <a href="/register/"
                                                class="btn custom-color text-black btn-block rounded-pill mb-2 ">Register</a>
                                        </div>

                                        <div class="col-sm-5   col-md-4 col-lg-4 col">
                                            <a class="btn custom-color text-black btn-block rounded-pill">Facebook</a>
                                        </div>
                                    </div>
                                </form>


                            </div>



                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    </div>


























    <script src="{% static 'mainApp/js/jquery.js' %}"></script>
    <script src="{% static 'mainApp/js/bootstrap.js' %}"></script>

</body>

</html>