{% load static %} {% block title %}
<title>Add New Product</title>
{% endblock title %} {% block files %} {% endblock files %} {% block content %}

<!-- Footer -->
<footer>
  <div class="custom-color">
    <div class="container">
      <div class="row">
        <div class="col-md-5 mt-5 custom-link ml-5">
          <ul class="list-unstyled">
            <li class="pb-3">
              <a href="#" class="text-white">House Hold</a>
            </li>
            <li class="pb-3">
              <a href="#" class="text-white">Vehicles</a>
            </li>
            <li class="pb-3">
              <a href="#" class="text-white">Electronics</a>
            </li>
            <li class="pb-3"><a href="#" class="text-white">Cloths</a></li>
            <li class="pb-3"><a href="#" class="text-white">Tools</a></li>
            <li class="pb-3">
              <a href="#" class="text-white">Furnitures</a>
            </li>
            <li class="pb-3">
              <a href="#" class="text-white">Fashion & Beauty</a>
            </li>
            <li class="pb-3"><a href="#" class="text-white">Books</a></li>
          </ul>
        </div>
        <div class="col-md-5 mt-5 custom-link ml-5">
          <ul class="list-unstyled">
            <li class="pb-3">
              <a href="#" class="text-white">About us</a>
            </li>
            <li class="pb-3">
              <a href="#" class="text-white">Contact us</a>
            </li>
            <li class="pb-3">
              <a href="#" class="text-white">Terms and Conditions</a>
            </li>
            <li class="pb-3">
              <a href="#" class="text-white">Policies</a>
            </li>
          </ul>
        </div>
      </div>
      <div>
        <p class="text-white text-center footer-margin pb-2">
          <i class="fa fa-copyright mr-2" aria-hidden="true"></i>Copy right 2021
          -beFrosh
        </p>
      </div>
    </div>
  </div>
</footer>

{% endblock content %}
