{% extends 'base.html' %} {% load static %} {% block title %}
<title>Add New Product</title>
{% endblock title %} {% block files %}
<script src="{% static 'seller/js/auth.js' %}" defer></script>
{% endblock files %} {% block content %}
<!-- LOGIN SECTION -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-xl-8 col-lg-10 col-md-9">
      <div class="card my-5 custom-login">
        <div class="card-body p-5">
          <div class="container">
            <h1 class="text-center mb-5 custom-link1">
              <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
            </h1>
            <p id="reg-error-msg" style="color: red; text-align: center"></p>
            <div class="form-group">
              <form id="register-form">
                <input
                  class="form-control mb-4 rounded-pill text-center custom-input reg-input"
                  type="text"
                  placeholder="First Name"
                  id="first_name"
                />
                <input
                  class="form-control mb-4 rounded-pill text-center custom-input reg-input"
                  type="text"
                  placeholder="Last Name"
                  id="last_name"
                />
                <input
                  class="form-control mb-4 rounded-pill text-center custom-input reg-input"
                  type="email"
                  placeholder="Email"
                  id="email"
                />
                <input
                  class="form-control mb-4 rounded-pill text-center custom-input reg-input"
                  type="text"
                  id="username"
                  placeholder="Username"
                />
                <input
                  class="form-control mb-4 rounded-pill text-center custom-input reg-input"
                  type="password"
                  placeholder="Password"
                  id="password"
                />
                <input
                  class="form-control mb-4 rounded-pill text-center custom-input reg-input"
                  type="password"
                  placeholder="Repeat Password"
                  id="r_password"
                />

                <div class="row mt-5 justify-content-center">
                  <div class="col-sm-5 col-md-4 col-lg-4 col m">
                    <button
                      id="register"
                      class="btn custom-color text-black btn-block rounded-pill mb-2"
                    >
                      Register
                    </button>
                  </div>

                  <div class="col-sm-5 col-md-4 col-lg-4 col">
                    <a
                      class="btn custom-color text-black btn-block rounded-pill"
                      >Facebook</a
                    >
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
